<!-- As a link -->
<!-- <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/src/assets/Screenshot 2022-06-09 132920.png" alt="">
  </a>
</nav> -->
<!--Ends  -->


<!--  -->
<html>

<head>

</head>

<body>
  <div class="area"></div>
  <nav class="main-menu">
    <div class="">
      <img src="../assets/img/indie-logo-header-footer.png" class="indie-sidebar-logo" alt="">
    </div>
    <ul>
      <li>
        <!-- <div class="indie-smenu">CATALOG</div> -->
        <a href="">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Wishlist
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-laptop fa-2x"></i>
          <span class="nav-text">
            My Purchases
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-list fa-2x"></i>
          <span class="nav-text">
            Downloads
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a href="#">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
            Invoices
          </span>
        </a>

      </li>
      <li>
        <a href="#">
          <i class="fa fa-bar-chart-o fa-2x"></i>
          <span class="nav-text">
            credits
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-font fa-2x"></i>
          <span class="nav-text">
            User Details
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-table fa-2x"></i>
          <span class="nav-text">
            Address & Billings
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-map-marker fa-2x"></i>
          <span class="nav-text">
            Change Number
          </span>
        </a>
      </li>
      <!-- <li>
        <a href="#">
          <i class="fa fa-info fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li> -->
    </ul>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>
</body>

</html>

<!-- Ends -->